body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}

header {
    height: 20%;
    background-color: rgb(93, 93, 243);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#nav_banniere {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#banniere {
    height: 65%;
    background-color: rgb(182, 177, 177);
    display: flex;
    align-items: center;
}

main {
    height: 80%;
    background-color: grey;
    display: flex;
    margin: 0%;
    padding: 0%;
}

#nav_menu {
    background-color: rgb(125, 233, 125);
    width: 15%;
}

#content {
    background-color: rgb(245, 191, 91);
    width: 85%;
}

a {
    color: black;
    text-decoration: none;
}