<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="./assets/styles/app.css" type="Text/css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            <div id="banniere">
                banniere
            </div>
            <div id="nav_banniere">
                <a href="">Accueil</a>
                <a href="">Contact</a>
                <a href="">Se connecter</a>
                <a href="">S'inscrire</a>
                <a href="">Pannier</a>
            </div>
        </header>
        <main>
            <nav id="nav_menu">
                <h3>Retrouver vos ouvrages préférés par:</h2>   
                <div class="titre_menu"><h4>Catégorie</h4></div>
                <div class="sous_titre_menu">BD/COMICS...</div>
                <div class="titre_menu"><h4>Auteur</h4></div>
                <div class="sous_titre_menu">Harlan Coben</div>
                <div class="titre_menu"><h4>Genre</h4></div>
                <div class="sous_titre_menu">Fantastique</div>
                <div class="titre_menu"><h4>Prix</h4></div>
                <div class="sous_titre_menu">20€ -> 35€</div>
            </nav>
            <div id="content">
                Contenu
            </div>
        </main>
        <footer>

        </footer>
        {% endblock %}
    </body>
</html>
